

<app-sidebar />
<div class="sm:ml-64">
  <app-navbar/>
  <div class="p-4">
    <div
      class="block flex-1 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
    <div class="flex items-center justify-between mb-2">
      <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        Nasabah
      </h5>
      <button
        type="submit"
        class="text-black bg-orange-400 hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-orange-300 font-bold rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 ml-2"
        [routerLink]="['./tambah-user']"
      >
        Tambah Pengguna
      </button>
    </div>
      
      <table datatable *ngIf="listUser.length" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger.asObservable() | async" class="display" style="width: 100%">
        <thead>
          <tr>
            <th class="px-4 py-2">No</th>
            <th class="px-4 py-2">User</th>
            <th class="px-4 py-2">Nama Akun</th>
            <th class="px-4 py-2">Nomor Rekening</th>
            <th class="px-4 py-2">Jenis Transaksi</th>
            <th class="px-4 py-2">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listUser; let i = index">
            <td class="border px-4 py-2">{{ i + 1}}.</td>
            <td class="border px-4 py-2">{{data.userId}}</td>
            <td class="border px-4 py-2">{{data.namaNasabah}}</td>
            <td class="border px-4 py-2">{{data.nomorRekening}}</td>
            <td class="border px-4 py-2">{{data.jumlahPocket}}</td>
            <td class="border px-4 py-2">
              <button
              class="mr-2"
              type="button"
              [routerLink]="['/user/edit-user']"
              >
                      <img src="assets/icon-edit.png" alt="icon_edit" style="scale: 75%;">
              </button>
              
              <button
              class="ml-2"
              type="button"
              data-modal-target="popupDeleteUser" 
              data-modal-toggle="popupDeleteUser"
              >
                  <img src="assets/icon-delete.png" alt="icon_delete" style="scale: 75%;">
              </button>
              <div id="popupTambahUser" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-md max-h-full">
                    <div class="relative bg-gray-300 rounded-lg shadow dark:bg-gray-700">
                        <div class="p-4 md:p-5 text-center">
                            <div class="mb-5 text-xs font-bold text-black dark:text-gray-400">APAKAH ANDA YAKIN UNTUK MENAMBAH PENGGUNA?</div>
                            <button data-modal-hide="popupTambahUser" type="submit" value="YA" class="text-black font-bold bg-orange-400 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 rounded-lg text-xs inline-flex items-center px-5 py-2.5 text-center">
                                <!-- YA -->
                            </button>
                            <button data-modal-hide="popupTambahUser" type="button" class="py-2.5 px-5 ms-3 text-xs font-bold text-gray-900 focus:outline-none bg-gray-100 rounded-lg border border-gray-300 hover:bg-gray-500  focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                TIDAK
                            </button>
                            </div>
                        </div>
                  </div>
              </div>
          
              
            </td>
          </tr>


          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>
  </div>
</div>




