  <section class="flex flex-col justify-center items-center px-20 py-12 text-sm font-bold leading-5 text-center bg-white rounded-3xl max-w-[693px] max-md:px-5">
    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/11d7bce0b5ca315e2b81c0eb8d2a8d34f325acdd2a76c63834ec5204ffbbaf80?apiKey=c7add3469bc04a5f85486a4cfdac2330&" alt="Logout icon" class="max-w-full aspect-[1.52] w-[313px]" />
    <h2 class="mt-4 text-3xl tracking-normal leading-10 text-neutral-950">Log Out</h2>
    <p class="mt-4 text-neutral-950 font-normal">Apakah anda yakin ingin keluar ?</p>
    <div class="flex gap-2 justify-center mt-4">
        <button (click)="cancel()" class="justify-center px-5 py-2 whitespace-nowrap rounded-3xl bg-zinc-100 text-neutral-400">Cancel</button>
        <button (click)="confirm()" class="justify-center px-5 py-2 text-white bg-red-600 rounded-3xl">Log Out</button>
    </div>
  </section>