<h1
  id="judul"
  class="p-4 sm:ml-64 text-left text-2xl mb-4 font-bold"
  style="color: #e55300; padding-top: 24px; margin-bottom: -4px"
>
  Daftar Pengajuan Pinjaman
</h1>
<ng-template #loading>
    Loading..
</ng-template>
<!-- <app-sidebar/> -->
<!-- <div
  id="container-home"
  class="relative overflow-x-auto sm:rounded-lg"
  style="padding-top: 10px"
> -->
  <div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-200 rounded-lg dark:border-gray-700">
      <div
        class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4"
      >
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative">
          <div
            class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none"
          >
            <svg
              class="w-5 h-5 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </div>
          <input
            type="text"
            id="table-search"
            class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Search"
          />
        </div>
      </div>
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
        style="margin-bottom: 20px"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-4 py-2">CIF</th>
            <th scope="col" class="px-4 py-2">Nama</th>
            <th scope="col" class="px-4 py-2">NIK</th>
            <th scope="col" class="px-4 py-2">Jenis Pengajuan</th>
            <th scope="col" class="px-4 py-2">Status Pengajuan</th>
            <th scope="col" class="px-4 py-2">Admin</th>
            <th scope="col" class="px-4 py-2">Tanggal Realisasi</th>
            <th scope="col" class="px-4 py-2">Aksi</th>
          </tr>
        </thead>
        <!-- Loading and Error Handling -->
        <ng-container *ngIf="forms.length > 0; else loading">
              <tbody>
                <tr *ngFor="let form of forms">
                  <td class="px-4 py-2">{{ form.idFormPengajuanPinjaman }}</td>
                  <td class="px-4 py-2">{{ form.formToUser.nameUser }}</td>
                  <td class="px-4 py-2">{{ form.formToUser.nikUser }}</td>
                  <td class="px-4 py-2">{{ form.formToJenis.nameJenisPinjaman }}</td>
                  <td class="px-4 py-2">
                    <div
                    class="px-4 py-2"
                    >
                    </div>
                  </td>
                  <td class="px-4 py-2"></td>
                  <!-- <td class="px-4 py-2">{{ form.tanggalLahir | date: 'longDate' }}</td> -->
                  <td class="px-4 py-2"></td>
                  <td class="px-4 py-2">
                    <a [routerLink]="['../', form.idFormPengajuanPinjaman]" class="text-blue-600 hover:underline">View</a>
                  </td>
                </tr>
              </tbody>
          </ng-container>
          
          <ng-template #loading>
            <div>Loading...</div>
          </ng-template>
          <tr
            class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
          >
            <td
              class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              W1832343
            </td>
            <td class="px-4 py-2">Gerald Marihot</td>
            <td class="px-4 py-2">3520121000924832323</td>
            <td class="px-4 py-2">BNI Griya</td>
            <td class="px-4 py-2">
              <div
                class="px-4 py-2">
                
              </div>
            </td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2">
              <a
                class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                >
                View
              </a>
              <!-- <button
                (click)="navigateToDetail()"
                href="#"
                class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >
                View
              </button> -->
            </td>
          </tr>
          <!-- <tr
            class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
          >
            <td
              class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              W1832343
            </td>
            <td class="px-4 py-2">Gerald Marihot</td>
            <td class="px-4 py-2">3520121000924832323</td>
            <td class="px-4 py-2">BNI Griya</td>
            <td class="px-4 py-2">
              <div
                class="justify-center p-1.5 text-sm tracking-normal leading-4 text-center text-emerald-100 whitespace-nowrap bg-red-700 rounded-xl text-ellipsis"
              >
                Ditolak
              </div>
            </td>
            <td class="px-4 py-2">Admin</td>
            <td class="px-4 py-2">Tanggal Realisasi</td>
            <td class="px-4 py-2">
              <button
                (click)="navigateToDetail()"
                href="#"
                class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >
                View
              </button>
            </td>
          </tr>
          <tr
            class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
          >
            <td
              class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              W1832343
            </td>
            <td class="px-4 py-2">Gerald Marihot</td>
            <td class="px-4 py-2">3520121000924832323</td>
            <td class="px-4 py-2">BNI Griya</td>
            <td class="px-4 py-2">
              <div
                class="justify-center p-1.5 text-sm tracking-normal leading-4 text-center text-emerald-100 whitespace-nowrap bg-yellow-500 rounded-xl text-ellipsis"
              >
                Diproses
              </div>
            </td>

            <td class="px-4 py-2">Admin</td>
            <td class="px-4 py-2">Tanggal Realisasi</td>
            <td class="px-4 py-2">
              <button
                (click)="navigateToDetail()"
                href="#"
                class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >
                View
              </button>
            </td>
          </tr>
          <tr
            class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
          >
            <td
              class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              W1832343
            </td>
            <td class="px-4 py-2">Gerald Marihot</td>
            <td class="px-4 py-2">3520121000924832323</td>
            <td class="px-4 py-2">BNI Griya</td>
            <td class="px-4 py-2">
              <div
                class="justify-center p-1.5 text-sm tracking-normal leading-4 text-center text-emerald-100 whitespace-nowrap bg-green-600 rounded-xl text-ellipsis"
              >
                Diterima
              </div>
            </td>
            <td class="px-4 py-2">Admin</td>
            <td class="px-4 py-2">Tanggal Realisasi</td>
            <td class="px-4 py-2">
              <button
                (click)="navigateToDetail()"
                href="#"
                class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >
                View
              </button>
            </td>
          </tr>
          <tr
            class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
          >
            <td
              class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              W1832343
            </td>
            <td class="px-4 py-2">Gerald Marihot</td>
            <td class="px-4 py-2">3520121000924832323</td>
            <td class="px-4 py-2">BNI Griya</td>
            <td class="px-4 py-2">
              <div
                class="justify-center p-1.5 text-sm tracking-normal leading-4 text-center text-emerald-100 whitespace-nowrap bg-green-600 rounded-xl text-ellipsis"
              >
                Diterima
              </div>
            </td>
            <td class="px-4 py-2">Admin</td>
            <td class="px-4 py-2">Tanggal Realisasi</td>
            <td class="px-4 py-2">
              <button
                (click)="navigateToDetail()"
                href="#"
                class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >
                View
              </button>
            </td>
          </tr>
          <tr
            class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
          >
            <td
              class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              W1832343
            </td>
            <td class="px-4 py-2">Gerald Marihot</td>
            <td class="px-4 py-2">3520121000924832323</td>
            <td class="px-4 py-2">BNI Griya</td>
            <td class="px-4 py-2">
              <div
                class="justify-center p-1.5 text-sm tracking-normal leading-4 text-center text-emerald-100 whitespace-nowrap bg-green-600 rounded-xl text-ellipsis"
              >
                Diterima
              </div>
            </td>
            <td class="px-4 py-2">Admin</td>
            <td class="px-4 py-2">Tanggal Realisasi</td>
            <td class="px-4 py-2">
              <button
                (click)="navigateToDetail()"
                href="#"
                class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >
                View
              </button>
            </td>
          </tr>
          <tr
            class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
          >
            <td
              class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              W1832343
            </td>
            <td class="px-4 py-2">Gerald Marihot</td>
            <td class="px-4 py-2">3520121000924832323</td>
            <td class="px-4 py-2">BNI Griya</td>
            <td class="px-4 py-2">
              <div
                class="justify-center p-1.5 text-sm tracking-normal leading-4 text-center text-emerald-100 whitespace-nowrap bg-green-600 rounded-xl text-ellipsis"
              >
                Diterima
              </div>
            </td>
            <td class="px-4 py-2">Admin</td>
            <td class="px-4 py-2">Tanggal Realisasi</td>
            <td class="px-4 py-2">
              <button
                (click)="navigateToDetail()"
                href="#"
                class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >
                View
              </button>
            </td>
          </tr> -->
          <!-- Add more rows here if needed -->
        <!-- </tbody> -->
      </table>
      <nav
        class="flex items-center flex-column flex-wrap md:flex- justify-between pt-4"
        aria-label="Table navigation"
      >
        <span
          class="text-sm font-normal text-gray-500 dark:text-gray-400 mb-4 md:mb-0 block w-full md:inline md:w-auto"
          >Showing
          <span class="font-semibold text-gray-900 dark:text-white">1-10</span>
          of
          <span class="font-semibold text-gray-900 dark:text-white"
            >1000</span
          ></span
        >
        <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
          <li>
            <a
              href="#"
              class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
              >Previous</a
            >
          </li>
          <li>
            <a
              href="#"
              class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
              >1</a
            >
          </li>
          <!-- Add more pages here if needed -->
          <li>
            <a
              href="#"
              class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
              >Next</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>

