<app-sidebar />
<h1
  id="judul"
  class="p-4 sm:ml-64 text-left text-2xl mb-4 font-bold"
  style="color: #e55300; padding-top: 24px; margin-bottom: -4px"
>
  Daftar Debitur
</h1>
<div class="sm:ml-64">
  <p>detail works!</p>
  <!-- Section -->

  <div class="p-4 flex flex-row gap-4">
    <a
      href="#"
      class="block flex-1 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 flex items-center"
    >
      <div class="flex-shrink-0 w-14 h-14 bg-gray-200 rounded-full overflow-hidden mr-4">
        <img src="./../../assets/img/wahuy.jpeg" alt="Profile Picture" />
      </div>
      <div>
        <h5
          class="mb-2 text-2xl font-bold tracking-tight"
          style="color: #303030; font-size: 20px; font-family: Montserrat; font-weight: 700; line-height: 24px; letter-spacing: 0.10px; word-wrap: break-word;"
        >
          Gerald Marihot
        </h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">
          Here are the biggest enterprise technology acquisitions of 2021 so far,
          in reverse chronological order.
        </p>
      </div>
    </a>
  </div>
  
  
  <div class="pl-4 pr-4">
    <a
      href="#"
      class="block flex-1 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Pocket
      </h5>

      <div class="relative overflow-x-auto">
        <table
          class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
          >
            <tr>
              <th scope="col" class="px-6 py-3">No</th>
              <th scope="col" class="px-6 py-3">Jenis Pocket</th>
              <th scope="col" class="px-6 py-3">Kategori Pocket</th>
              <th scope="col" class="px-6 py-3">Deskripsi</th>
              <th scope="col" class="px-6 py-3">Pembuat</th>
              <th scope="col" class="px-6 py-3">Tanggal Dibuat</th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                Apple MacBook Pro 17"
              </th>
              <td class="px-6 py-4">Silver</td>
              <td class="px-6 py-4">Laptop</td>
              <td class="px-6 py-4">$2999</td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                Microsoft Surface Pro
              </th>
              <td class="px-6 py-4">White</td>
              <td class="px-6 py-4">Laptop PC</td>
              <td class="px-6 py-4">$1999</td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                Magic Mouse 2
              </th>
              <td class="px-6 py-4">Black</td>
              <td class="px-6 py-4">Accessories</td>
              <td class="px-6 py-4">$99</td>
            </tr>
          </tbody>
        </table>
      </div>
    </a>
  </div>
</div>
