/* Hide tooltip by default */
.tooltip {
  /* Tambahkan position: relative agar ::before bisa ditempatkan relatif ke tooltip */
  display: none;
  width: 300px;
  padding: 4px; /* Tambahkan padding agar konten tidak terlalu dekat dengan tepi tooltip */

  background-color: #fff;
}

/* Show the tooltip when hovering over the image */
.tooltip-trigger:hover + .tooltip {
  display: block;
}

.tooltip::before {
  content: "";
  position: absolute;
  top: -20px; /* Sesuaikan posisi segitiga */
  left: calc(50% - 70px); /* Sesuaikan posisi segitiga */
  width: 0;
  height: 0;
  border: 1px solid #fff;
  border-width: 10px;
  border-style: solid; /* Tambahkan ini */
  border-color: #ccc transparent transparent transparent; /* Border putih */

  transform: rotate(180deg); /* Putar segitiga */
}

.modal{
  background-color:#F2F4F8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.header-bar {
  background-color:#fff; 
  height: 2px;
  position: fixed; 
  width: 100%;
  height: 95px;
  z-index: 1; 
}
body {
  overflow-y: auto; /* Gunakan auto atau scroll sesuai kebutuhan */
}
.layout-container {
  height: 100vh; /* Menentukan ketinggian layout */
  overflow-y: auto; /* Mengaktifkan gulir jika konten melebihi ketinggian layout */
}

table {
  width: 100%;
}

.centered {
  text-align: center;
}

.right-align {
  text-align: right;
}

  