/* Hide tooltip by default */
.tooltip {
  /* Tambahkan position: relative agar ::before bisa ditempatkan relatif ke tooltip */
  display: none;
  width: 300px;
  padding: 4px; /* Tambahkan padding agar konten tidak terlalu dekat dengan tepi tooltip */

  background-color: #fff;
}

/* Show the tooltip when hovering over the image */
.tooltip-trigger:hover + .tooltip {
  display: block;
}

.tooltip::before {
  content: "";
  position: absolute;
  top: -20px; /* Sesuaikan posisi segitiga */
  left: calc(50% - 70px); /* Sesuaikan posisi segitiga */
  width: 0;
  height: 0;
  border: 1px solid #fff;
  border-width: 10px;
  border-style: solid; /* Tambahkan ini */
  border-color: #ccc transparent transparent transparent; /* Border putih */

  transform: rotate(180deg); /* Putar segitiga */
}
