
<aside
  id="separator-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
>

  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li>
        <a
          href="#"
          class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
          style="pointer-events: none"
        >
          <img
            class="w-80 h-30 mr-2"
            src="./../../assets/img/logo2.png"
            alt="logo"
          />
        </a>
      </li>
      <li>
        <div class="flex items-center p-2 rounded-lg">
          <div
            class="flex-shrink-0 w-14 h-14 bg-gray-200 rounded-full overflow-hidden"
          >
            <img src="{{ admin?.profilepictAdmin }}" alt="Profile Picture" />
          </div>
          <div class="ms-3">
            <li>
              <span
                class="block text-sm font-medium text-gray-900 dark:text-white"
              >
                {{ admin?.nameAdmin }}
              </span>
              <span
                class="flex justify-center items-center text-xs font-medium text-white bg-orange-500 dark:bg-gray-500 dark:text-gray-100 px-6 py-2 rounded"
                style="
                  font-family: Montserrat;
                  font-size: 12px;
                  line-height: 150%;
                "
                >{{ admin?.nppAdmin }}</span
              >
            </li>
          </div>
        </div>
      </li>
      <li>
        <a
          (click)="navigateToListPengajuanPinjaman()"
          
          href="javascript:void(0)"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
        <!-- atribut href="#" menjadi href="javascript:void(0)". Ini akan mencegah navigasi ke lokasi yang tidak diinginkan ketika mengklik elemen tersebut. -->
          <svg
            class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 18 18"
          >
            <path
              d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0ZM6.143 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 16.169.831 17 1.857 17h4.286A1.857 1.857 0 0 0 8 15.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286C10 16.169 10.831 17 11.857 17h4.286A1.857 1.857 0 0 0 18 15.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"
            />
          </svg>
          <span class="ms-3">Dashboard</span>
        </a>
      </li>
      <li>
        <a  (click)="navigateToMonitoring()"
        href="javascript:void(0)"
        class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
           <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
              <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
              <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
           </svg>
           <span class="ms-3">Monitoring Debitur</span>
        </a>
     </li>
    </ul>
    <ul
      class="pt-4 mt-4 space-y-2 font-medium border-t border-gray-200 dark:border-gray-700"
    >
      <li>
        <a
          (click)="showLogoutModal = true"
          style="cursor: pointer"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <svg
            class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 18 16"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3"
            />
          </svg>
          <span class="ms-3">Logout</span>
        </a>
        <!-- <button (click)="showLogoutModal = true"style="width: 100%; padding: 6px 12px; background: #29CC6A; border-radius: 8px; justify-content: center; align-items: center; gap: 6px; display: inline-flex; border: none; color: white; font-size: 14px; font-family: Montserrat; font-weight: 400; line-height: 21px; word-wrap: break-word;">Diterima</button> -->
      </li>
    </ul>
  </div>

  <!-- <ul>
    <button (click)="refreshAdminList()">Refresh User List</button>
    <li *ngFor="let admin of admins">
      <span>
        ID: {{ admin.idAdmin }}, Name: {{ admin.nameAdmin }}, NIK: {{ admin.nppAdmin }}
      </span>
    </li>
  </ul>

</aside> -->
</aside>

<div class="modal-container" *ngIf="showLogoutModal">
  <app-logout-modal (confirmed)="onConfirmed($event)"></app-logout-modal>
</div>
