<button data-drawer-target="separator-sidebar" data-drawer-toggle="separator-sidebar" aria-controls="separator-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
   <span class="sr-only">Open sidebar</span>
   <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
       <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
   </svg>
</button>



<aside id="separator-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
   <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
       <ul class="space-y-2 font-medium">
          
           <li>
               <div class="flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 group">
                   <div class="flex-shrink-0 w-14 h-14 bg-gray-200 rounded-full overflow-hidden">
                       <img src="./../../assets/img/wahuy.jpeg" alt="Profile Picture">
                   </div>
                   <div class="ms-3">
                       <span class="block text-sm font-medium text-gray-900 dark:text-white">Wahyu Khumairoh</span>
                       <span class="flex justify-center items-center text-xs font-medium text-white bg-orange-500 dark:bg-gray-500 dark:text-gray-100 px-6 py-2 rounded" style="font-family: Montserrat; font-size: 12px; line-height: 150%;">T0672345</span>
                   </div>
               </div>
           </li>
           <li>
               <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                   <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                       <path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0ZM6.143 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 16.169.831 17 1.857 17h4.286A1.857 1.857 0 0 0 8 15.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286C10 16.169 10.831 17 11.857 17h4.286A1.857 1.857 0 0 0 18 15.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"/>
                   </svg>
                   <span class="ms-3">Dashboard</span>
               </a>
           </li>
       </ul>
   </div>
</aside>


<div class="relative overflow-x-auto shadow-md sm:rounded-lg" style="padding-top: 100px;"> <!-- Sesuaikan dengan tinggi navigasi Anda -->
   <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
       <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
           <tr>
               <th scope="col" class="px-4 py-2">
                   CIF
               </th>
               <th scope="col" class="px-4 py-2">
                   Nama
               </th>
               <th scope="col" class="px-4 py-2">
                   NIK
               </th>
               <th scope="col" class="px-4 py-2">
                   Jenis Pengajuan
               </th>
               <th scope="col" class="px-4 py-2">
                   Informasi Keuangan
               </th>
               <th scope="col" class="px-4 py-2">
                   Status
               </th>
               <th scope="col" class="px-4 py-2">
                   Action
               </th>
           </tr>
       </thead>
       <tbody>
           <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
               <th scope="row" class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   Apple MacBook Pro 17"
               </th>
               <td class="px-4 py-2">
                   Silver
               </td>
               <td class="px-4 py-2">
                   Laptop
               </td>
               <td class="px-4 py-2">
                   $2999
               </td>
               <td class="px-4 py-2">
                   $2999
               </td>
               <td class="px-4 py-2">
                   $2999
               </td>
               <td class="px-4 py-2">
                   <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
               </td>
           </tr>
           <!-- Add more rows here if needed -->
       </tbody>
   </table>
</div>
