<!-- <app-sidebar/> -->
<div class="p-4 sm:ml-64">

<div class="flex flex-col px-6 pt-6 pb-14 bg-white rounded-xl max-md:px-5">
  <div class="flex flex-col justify-center bg-white max-md:max-w-full">
    <div *ngIf="pinjamans"></div>
    <div class="py-2.5 max-md:max-w-full">
      <div class="flex gap-5 max-md:flex-col max-md:gap-0">
        <div class="flex flex-col w-6/12 max-md:ml-0 max-md:w-full">
          <div class="flex flex-col grow max-md:mt-7 max-md:max-w-full">
            <div class="px-8 py-5 rounded-2xl border border-solid border-neutral-200 max-md:px-5 max-md:max-w-full">
              <div class="flex gap-5 max-md:flex-col max-md:gap-0">
                <div class="flex flex-col ml-5 w-[78%] max-md:ml-0 max-md:w-full">
                  <div class="flex flex-col grow max-md:mt-8">
                    <div class="text-xl font-bold tracking-normal leading-6 text-zinc-800">
                      {{pinjamans?.pinjamanToUser?.nameUser}}
                    </div>
                    <div class="flex gap-1 mt-2 text-xs text-black">
                      <div class="flex flex-col self-start pr-3 leading-[150%]">
                        <div>CIF</div>
                        <div class="mt-2">NIK</div>
                        <div class="mt-2">NPWP</div>
                        <div class="mt-2">Jenis Kelamin</div>
                        <div class="mt-2">Tempat, Tanggal Lahir</div>
                        <div class="mt-2 leading-5">Alamat</div>
                        <div class="mt-2">Kantor Cabang</div>
                        <div class="mt-2">Riwayat Pinjaman</div>
                      </div>
                      <div class="flex flex-col">
                        <div class="leading-[150%]">: {{pinjamans?.pinjamanToUser?.idUser}}</div>
                        <div class="mt-2 leading-[150%]">: {{pinjamans?.pinjamanToUser?.nikUser}}</div>
                        <div class="mt-2 leading-[150%]">: npwp</div>
                        <div class="mt-2 leading-[150%]">: jeniskelamin</div>
                        <div class="mt-2 leading-[150%]">
                          : tempatLahir
                        </div>
                        <div class="mt-2 leading-5">
                          : alamatKtp
                        </div>
                        <div class="mt-2 leading-[150%]">: unitBNI</div>
                        <div class="flex gap-0 mt-2">
                          <div class="self-start leading-[150%]">:</div>
                          <div class="leading-5">
                            nameJenisPinjaman
                          </div>
                        </div>
                        <!-- <div class="mt-2 leading-[150%]">: {{pinjamans?.pinjamanToForm?.npwp}}</div>
                        <div class="mt-2 leading-[150%]">: {{pinjamans?.pinjamanToForm?.jenisKelamin}}</div>
                        <div class="mt-2 leading-[150%]">
                          : {{pinjamans?.pinjamanToForm?.tempatLahir}}
                        </div>
                        <div class="mt-2 leading-5">
                          : {{pinjamans?.pinjamanToForm?.alamatKtp}}
                        </div>
                        <div class="mt-2 leading-[150%]">:{{pinjamans?.pinjamanToForm?.unitBNI}}</div>
                        <div class="flex gap-0 mt-2">
                          <div class="self-start leading-[150%]">:</div>
                          <div class="leading-5">
                            {{pinjamans?.pinjamanToForm?.formToJenis?.nameJenisPinjaman}}
                          </div>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="flex flex-col px-6 py-5 mt-5 text-xs leading-5 rounded-2xl border border-solid border-neutral-200 text-neutral-950 max-md:pl-5 max-md:max-w-full">
              <div class="text-left font-bold max-md:max-w-full">
                Riwayat Pinjaman
              </div>
              <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right" >
                  <thead class="text-xs text-white uppercase bg-orange-400">
                    <tr>
                      <th scope="col" class="px-3 py-6">
                        Jenis Pinjaman
                      </th>
                      <th scope="col" class="px-3 py-6">
                        Angsuran per Bulan
                    <br />
                    (Dalam IDR)
                      </th>
                      <th scope="col" class="px-3 py-6">
                        Authorize Admin
                      </th>
                      <th scope="col" class="px-3 py-6">
                        Tanggal Realisasi
                      </th>
                    </tr>
                  </thead>
                  <tbody >
                    <tr class="bg-orange-50 border-b ">
                      <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap" >
                        nameJenisPinjaman
                      </th>
                      <td class="px-6 py-4">
                        angsuranPerbulan
                      </td>
                      <td class="px-6 py-4">
                        nameAdmin
                      </td>
                      <td class="px-6 py-4">
                        tanggalRealisasi
                      </td>
                      <!-- <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap" >
                        {{pinjamans?.pinjamanToForm?.formToJenis?.nameJenisPinjaman}}
                      </th>
                      <td class="px-6 py-4">
                        {{pinjamans?.pinjamanToForm?.angsuranPerbulan}}
                      </td>
                      <td class="px-6 py-4">
                        {{pinjamans?.pinjamanToAdmin?.nameAdmin}}
                      </td>
                      <td class="px-6 py-4">
                        {{pinjamans?.tanggalRealisasi}}
                      </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
          
          <div class="flex flex-col max-md:mt-7 max-md:max-w-full">
            <div
              class="flex flex-col justify-center items-start py-4 pr-20 pl-6 rounded-2xl border border-solid border-neutral-200 max-md:px-5 max-md:max-w-full">
              <div class="text-xs font-bold leading-5 text-black">
                Monitoring Debitur
              </div>
              <div class="flex gap-5 mt-4">
                <img loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/0ea868451ca3edc2ddb48dc9090751608dd63274b1a7af03e9894a86025c8638?"
                  class="shrink-0 max-w-full aspect-square w-[136px]" />
                <div class="flex flex-col flex-1 justify-center">
                  <div class="flex gap-2.5 justify-center rounded-3xl">
                    <img loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/3f9238723341462f4dcc3a0148dfe48248b9080507a7468b4b227cd3ec442a6d?"
                      class="shrink-0 w-10 aspect-square fill-indigo-50" />
                    <div class="flex flex-col justify-center my-auto">
                      <div class="text-xs text-neutral-500">Total Pinjaman</div>
                      <div class="mt-1 text-xs leading-4 text-center text-zinc-800">
                        {{pinjamans?.pinjamanToForm?.jumlahPinjaman}}
                      </div>
                    </div>
                  </div>
                  <div class="flex gap-2.5 justify-center mt-2 rounded-3xl max-md:mr-2">
                    <img loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/cf487d5a5683ebb74d4fb689a53a1f5efb3336e6712bfd23aa7ed724513235da?"
                      class="shrink-0 w-10 aspect-square fill-indigo-50" />
                    <div class="flex flex-col justify-center my-auto">
                      <div class="text-xs text-neutral-500">
                        Tanggal Realisasi
                      </div>
                      <div class="mt-1 text-xs leading-4 text-center text-zinc-800">
                        {{pinjamans?.tanggalRealisasi}}
                      </div>
                    </div>
                  </div>
                  <div class="flex gap-2.5 justify-center mt-2 whitespace-nowrap rounded-3xl">
                    <img loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/803f6157b1b569a67d705c7f4ba1ef1d337d18925a33298b936053f24e8bfc6b?"
                      class="shrink-0 w-10 aspect-square fill-indigo-50" />
                    <div class="flex flex-col justify-center my-auto">
                      <div class="text-xs text-neutral-500">Kolektabilitas</div>
                      <div class="mt-1 text-xs leading-4 text-center text-zinc-800">
                        {{pinjamans?.kolektabilitas}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="flex flex-col px-6 pt-5 pb-8 mt-5 text-xs leading-5 rounded-2xl border border-solid border-neutral-200 text-neutral-950 max-md:pl-5 max-md:max-w-full">
              <div class="relative overflow-x-auto">
                <div class=" text-left font-bold max-md:max-w-full">
                  Detail Pembayaran
                </div>
                <table class="w-full text-sm text-left rtl:text-right" >
                  <thead class="text-xs text-white uppercase bg-orange-400">
                    <tr>
                      <th scope="col" class="px-3 py-6">
                        Description
                      </th>
                      <th scope="col" class="px-3 py-6">
                        Amounts (IDR)
                      </th>
                      <th scope="col" class="px-3 py-6">
                        Rebates
                      </th>
                      <th scope="col" class="px-3 py-6">
                        Payoffs
                      </th>
                    </tr>
                  </thead>
                  <tbody >
                    <tr class="bg-orange-50 border-b ">
                      <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap" >
                        Sisa Pokok
                      </th>
                      <td class="px-6 py-4">
                        {{pinjamans?.amountsSisaPokok}}
                      </td>
                      <td class="px-6 py-4">
                        {{pinjamans?.rebatesSisaPokok}}
                      </td>
                      <td class="px-6 py-4">
                       {{pinjamans?.payoffsSisaPokok}}
                      </td>
                    </tr>
                    <tr class="bg-orange-50 border-b ">
                      <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap" >
                        Bunga Berjalan
                      </th>
                      <td class="px-6 py-4">
                        {{pinjamans?.amountsBungaBerjalan}}
                      </td>
                      <td class="px-6 py-4">
                        {{pinjamans?.rebatesBungaBerjalan}}
                      </td>
                      <td class="px-6 py-4">
                        {{pinjamans?.payoffsBungaBerjalan}}
                      </td>
                    </tr>
                    <tr class="bg-orange-50 border-b ">
                      <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap" >
                        TOTALS
                      </th>
                      <td class="px-6 py-4">
                        {{pinjamans?.totalAmounts}}
                      </td>
                      <td class="px-6 py-4">
                        {{pinjamans?.totalRebates}}
                      </td>
                      <td class="px-6 py-4">
                        {{pinjamans?.totalPayoffs}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>