<h1
  id="judul"
  class="p-4 sm:ml-64 text-left text-2xl mb-4 font-bold"
  style="color: #e55300; padding-top: 24px; margin-bottom: -4px"
>
  Daftar Debitur
</h1>
<app-sidebar/>
<div class="p-4 sm:ml-64">
<div
  class="px-8 py-5 rounded-2xl border border-solid border-neutral-200 max-w-[514px] max-md:px-5"
>
  <div class="flex gap-5 max-md:flex-col max-md:gap-0">
    <div class="flex flex-col w-[22%] max-md:ml-0 max-md:w-full">
      <img
        loading="lazy"
        src="./../../../assets/img/geri.JPG"
        class="shrink-0 w-24 rounded-full aspect-square max-md:mt-8"
      />
    </div>
    <div class="flex flex-col ml-5 w-[78%] max-md:ml-0 max-md:w-full">
      <div class="flex flex-col grow max-md:mt-8">
        <div class="text-xl font-bold tracking-normal leading-6 text-zinc-800">
          Gerald Marihot
        </div>
        <div class="flex gap-1 mt-2 text-xs text-black">
          <div class="flex flex-col self-start pr-3 leading-[150%]">
            <div>CIF</div>
            <div class="mt-2">NIK</div>
            <div class="mt-2">NPWP</div>
            <div class="mt-2">Jenis Kelamin</div>
            <div class="mt-2">Tempat, Tanggal Lahir</div>
            <div class="mt-2 leading-5">Alamat</div>
            <div class="mt-2">Kantor Cabang</div>
            <div class="mt-2">Riwayat Pinjaman</div>
          </div>
          <div class="flex flex-col">
            <div class="leading-[150%]">: W18342324</div>
            <div class="mt-2 leading-[150%]">: 52700001011001</div>
            <div class="mt-2 leading-[150%]">: 3456-0982-9801</div>
            <div class="mt-2 leading-[150%]">: Wanita</div>
            <div class="mt-2 leading-[150%]">: Kediri, 6 Juli 1998</div>
            <div class="mt-2 leading-5">
              : Jl. Kejayaan No. 49a, Krukut, Taman Sari, Jakarta Barat
            </div>
            <div class="mt-2 leading-[150%]">: BNI Kota Tua</div>
            <div class="flex gap-0 mt-2">
              <div class="self-start leading-[150%]">:</div>
              <div class="leading-5">
                BNI Griya
                <br />
                BNI Fleksi Aktif
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
