<h1
  id="judul"
  class="p-4 sm:ml-64 text-left text-2xl mb-4 font-bold"
  style="color: #e55300; padding-top: 24px; margin-bottom: -4px"
>
  Detail Pemohon
</h1>
<div class="sm:ml-64">
<div *ngIf="form">
 <div class="p-4 flex flex-col gap-4">
  <a href="#" class="block flex-1 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 flex items-center" style="pointer-events: none;">
    <!-- <div class="flex-shrink-0 w-14 bg-gray-200 rounded-full overflow-hidden mr-4">
      <img id="image" src="./../../../assets/img/geri.JPG" alt="Profile Picture" style="height: 100%; width: 100%;" />
    </div> -->
    <div class="flex flex-col justify-between">
      <div>
        <h5 id="nama" class="text-xl font-bold tracking-normal leading-6 text-zinc-800">
          {{ form.formToUser.nameUser }}
        </h5>
        <div class="flex gap-1 mt-2">
          <img id="alamat" src="https://cdn.builder.io/api/v1/image/assets/TEMP/6f97584209bb4e19cde38f704f49cebe787e69b77c2eec4ef56c6320264d07a7?" class="shrink-0 w-5 aspect-square" />
          <div class="flex-auto">
            {{ form.alamatKtp }} 
            {{ form.kelurahan }}, 
            {{ form.kecamatan }}, 
            {{ form.kodePos }}
          </div>
        </div>
        <div class="flex gap-1 mt-2">
          <img id="kantor" loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d09122466aea09fa7e57204962507c6c35c995a041d6e7c5c729816a253cb76b?" class="shrink-0 w-5 aspect-square" />
          <div class="flex-auto">Kantor Cabang Terdekat : {{form.unitBNI}}</div>
        </div>
      </div>
    </div>
  </a>
  
  <div class="flex flex-wrap gap-4 max-md:flex-col">
    <div class="flex-auto max-md:w-full">
      <div class="flex gap-5">
        <div class="flex flex-col w-[33%] max-md:w-full">
          <div class="flex flex-col grow items-start py-6 pl-6 text-xs leading-5 rounded-2xl border border-solid border-neutral-200 max-md:mt-2.5">
            <div class="font-bold text-center text-zinc-800">Informasi Debitur</div>
            <div class="flex gap-1 mt-2 text-black">
              <div class="flex flex-col pr-3">
                <div>CIF Number</div>
                <div class="mt-2">No. KTP</div>
                <div class="mt-2">Jenis Kelamin</div>
                <div class="mt-2">Tempat, Tanggal Lahir</div>
                <div class="mt-2">Kantor Cabang</div>
              </div>
              <div class="flex flex-col">
                <div>: {{ form.idFormPengajuanPinjaman }} </div>
                <div class="mt-2 max-md:mr-2">: {{ form.formToUser.nikUser }}</div>
                <div class="mt-2">: {{ form.jenisKelamin }}</div>
                <div class="mt-2">: {{ form.tempatLahir }}, {{ form.tanggalLahir }}</div>
                <div class="mt-2">: {{form.unitBNI}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col w-[33%] max-md:w-full">
          <div class="flex flex-col grow items-start py-6 pl-6 text-xs leading-5 rounded-2xl border border-solid border-neutral-200 max-md:mt-2.5">
            <div class="font-bold text-center text-zinc-800">Riwayat Pinjaman (On Prgress)</div>
            <div class="font-bold mt-2 tracking-normal leading-[120%]">
              1. BNI Griya
            </div>
            <div class="mt-2">Angsuran per Bulan : Rp. 5.000.000</div>
            <div class="font-bold mt-2 tracking-normal leading-[120%]">
              2. BNI Fleksi Aktif
            </div>
            <div class="mt-2">Angsuran per Bulan : Rp. 2.500.000</div>
          </div>
        </div>
        <div class="flex flex-col w-[33%] max-md:w-full">
          <div class="flex flex-col grow items-start py-6 pl-6 text-xs leading-5 rounded-2xl border border-solid border-neutral-200 max-md:mt-2.5">
            <div class="font-bold text-center text-zinc-800">Detail SLIK</div>
            <div class="flex gap-1 mt-2.5 text-black">
              <div class="flex flex-col whitespace-nowrap">
                <div>Nama</div>
                <div class="mt-2">NIK</div>
                <div class="mt-2">NPWP</div>
              </div>
              <div class="flex flex-col">
                <div>: {{ form.idFormPengajuanPinjaman }}</div>
                <div class="mt-2">: {{ form.formToUser.nikUser }}</div>
                <div class="mt-2">: {{ form.npwp }}</div>
              </div>
            </div>
            <button (click)="generateSLIK()" class="justify-center px-3 py-1.5 mt-2.5 text-white bg-cyan-500 rounded-lg leading-[133%]" style="padding: 6px 12px;">
              Generate SLIK
            </button>
          
          
          </div>
        </div>
      </div>
    </div>
    <div class="max-md:w-full">
      <div style="width: 100%; height: 100%; padding: 24px; border-radius: 16px; border: 0.50px #E0E0E0 solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
        <div style="text-align: center; color: #303030; font-size: 12px; font-family: Montserrat; font-weight: 700; line-height: 18px; word-wrap: break-word">Aksi</div>
        <div style="align-self: stretch; height: 74px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
            <button (click)="acceptPengajuan(form.idFormPengajuanPinjaman)"style="width: 100%; padding: 6px 12px; background: #29CC6A; border-radius: 8px; justify-content: center; align-items: center; gap: 6px; display: inline-flex; border: none; color: white; font-size: 14px; font-family: Montserrat; font-weight: 400; line-height: 21px; word-wrap: break-word;">Diterima</button>
            <button (click)="rejectPengajuan(form.idFormPengajuanPinjaman)"style="width: 100%; padding: 6px 12px; background: #D4352A; border-radius: 8px; justify-content: center; align-items: center; gap: 6px; display: inline-flex; border: none; color: white; font-size: 14px; font-family: Montserrat; font-weight: 400; line-height: 21px; word-wrap: break-word;">Ditolak</button>
        </div>
    </div>
    
    
      
    </div>
  </div>

  <div *ngIf="showSLIKTable" >
    <div class="px-6 pt-6 pb-56 mt-2.5 w-full text-xs leading-5 text-center rounded-2xl border border-solid border-neutral-200 text-zinc-800 max-md:px-5 max-md:pb-10 max-md:max-w-full">
      <div class="flex text-xs text-center font-bold text-zinc-800 mb-4">SLIK Debitur</div>
      <table #slikTable id="slik-debitur" class="w-full text-sm text-left rtl:text-right">
        <thead class="text-xs text-white bg-orange-400">
          <tr>
            <th scope="col" class="px-3 py-6">Fasilitas</th>
            <th scope="col" class="px-3 py-6">Kredit/Pembayaran (Dalam IDR)</th>
            <th scope="col" class="px-3 py-6">Irrevocable L/C (Dalam IDR)</th>
            <th scope="col" class="px-3 py-6">Fasilitas Lain (Dalam IDR)</th>
            <th scope="col" class="px-3 py-6">Total (Dalam IDR)</th>
            <th scope="col" class="px-3 py-6">Kualitas Terburuk / Bulan Data</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-orange-50 border-b" *ngFor="let item of slikData">
            <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
              {{ item.fasilitas }}
            </th>
            <td class="px-6 py-4">
              {{ item.kredit }}
            </td>
            <td class="px-6 py-4">
              {{ item.lc }}
            </td>
            <td class="px-6 py-4">
              {{ item.fasilitasLain }}
            </td>
            <td class="px-6 py-4">
              {{ item.total }}
            </td>
            <td class="px-6 py-4">
              {{ item.kualitas }}
            </td>
          </tr>
        </tbody>
      </table>
      <button (click)="downloadSLIK()" class="flex px-3 py-1.5 mt-2.5 text-white bg-cyan-500 rounded-lg leading-[133%]" style="padding: 6px 12px;">
        Download SLIK
      </button>
  </div>
</div>
</div>



