<div class="modal">
    <div class="modal-content">
      <p>Are you sure you want to proceed?</p>
      <div class="modal-actions">
        <button (click)="confirm()" style="width: calc(50% - 3px); padding: 6px 12px; margin-right: 6px; background: #29CC6A; border-radius: 8px; justify-content: center; align-items: center; display: inline-flex; border: none; color: white; font-size: 14px; font-family: Montserrat; font-weight: 400; line-height: 21px; word-wrap: break-word;">Yes</button>
        <button (click)="cancel()" style="width: calc(50% - 3px); padding: 6px 12px; background: #29CC6A; border-radius: 8px; justify-content: center; align-items: center; display: inline-flex; border: none; color: white; font-size: 14px; font-family: Montserrat; font-weight: 400; line-height: 21px; word-wrap: break-word;">No</button>
      </div>
    </div>
  </div>