  <div class="flex flex-col items-center justify-center p-20 text-sm font-bold leading-5 text-center whitespace-nowrap bg-white rounded-3xl max-w-[693px] max-md:px-5">
    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/9e9c44782dd88b2f7c109dfe219385b09f6d0323793fd8ef1cab099cfd2f3803?apiKey=c7add3469bc04a5f85486a4cfdac2330&" alt="Decorative image" class="max-w-full aspect-[1.33] w-[295px]" />
    <h2 class="mt-6 text-3xl tracking-normal leading-10 text-neutral-950 max-md:max-w-full">
      Yakin menerima pengajuan?
    </h2>
    <div class="flex justify-center gap-2 mt-6">
      <button (click)="cancel()" class="justify-center px-5 py-2 text-neutral-400 bg-zinc-100 rounded-3xl font-normal">
        Batal
      </button>
      <button (click)="confirm()" class="justify-center px-5 py-2 text-white bg-green-600 rounded-3xl font-normal">
        Terima
      </button>
    </div>
  </div>

  