<section
  class="flex flex-col justify-center items-center px-20 py-11 font-bold text-center bg-white rounded-3xl max-w-[693px] max-md:px-5">
  <img
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/6afeb7221fca212431064554b0c558d966d0cc676d9347dd0505a12743294e29?apiKey=c7add3469bc04a5f85486a4cfdac2330&"
    alt="Confirmation illustration" class="max-w-full aspect-[0.99] w-[231px]" />
  <h2 class="mt-6 text-3xl tracking-normal leading-10 text-neutral-950 max-md:max-w-full">
    Yakin menolak pengajuan?
  </h2>
  <div class="flex gap-2 justify-center mt-6 text-sm leading-5 whitespace-nowrap">
    <button (click)="cancel()" class="justify-center px-5 py-2 rounded-3xl bg-zinc-100 text-neutral-400">
      Batal
    </button>
    <button (click)="confirm()" class="justify-center px-5 py-2 text-white bg-red-600 rounded-3xl">
      Ditolak
    </button>
  </div>
</section>
